/* Inter Font - weights: 300, 400, 500, 600, 700, 800 */
@font-face {
  font-family: 'Inter';
  src: url('assets/font_Intel/subset-Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/font_Intel/subset-Inter18pt-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/font_Intel/subset-Inter18pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/font_Intel/subset-Inter18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/font_Intel/subset-Inter18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/font_Intel/subset-Inter18pt-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Bodoni Moda Font - weights: 400, 600, 700, 800, 900 (optical size 6..96 = 18pt) */
@font-face {
  font-family: 'Bodoni Moda';
  src: url('assets/font_Bodoni_moda/subset-BodoniModa18pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('assets/font_Bodoni_moda/subset-BodoniModa18pt-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('assets/font_Bodoni_moda/subset-BodoniModa18pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('assets/font_Bodoni_moda/subset-BodoniModa18pt-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('assets/font_Bodoni_moda/subset-BodoniModa18pt-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Playfair Display Font - weights: 400, 700, 900 */
@font-face {
  font-family: 'Playfair Display';
  src: url('assets/font_playfair/subset-PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('assets/font_playfair/subset-PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('assets/font_playfair/subset-PlayfairDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Michroma Font - weight: 400 */
@font-face {
  font-family: 'Michroma';
  src: url('assets/font_Michroma/subset-Michroma-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Josefin Sans Font - weights: 200, 300, 400, 500, 600 */
@font-face {
  font-family: 'Josefin Sans';
  src: url('assets/font_Josefin_Sans/subset-JosefinSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('assets/font_Josefin_Sans/subset-JosefinSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('assets/font_Josefin_Sans/subset-JosefinSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('assets/font_Josefin_Sans/subset-JosefinSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('assets/font_Josefin_Sans/subset-JosefinSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}





