@font-face {
    font-family: 'Bodoni Moda';
    src: url('subset-BodoniModa-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda';
    src: url('subset-BodoniModa-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 9pt';
    src: url('subset-BodoniModa9pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-ExtraBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 18pt';
    src: url('subset-BodoniModa18pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('subset-BodoniModa28pt-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('subset-BodoniModa28pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('subset-BodoniModa28pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 28pt';
    src: url('subset-BodoniModa28pt-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

